<div class="fishbox span6 offset3 text-center">

	<h1 class="custom-h1">Hi, I'm Tate!</h1>

	<br/>

	<h2>This is my web development journey!</h2>

	<br/>

	<%= link_to 'Launch', '#', :class => 'btn-large btn btn-warning'%>

</div>